# Keys
.env

# Python
__pycache__/
*.pyc

server/app/data/chroma/chroma.sqlite3
./app/data/chroma/chroma.sqlite3
/server/app/data/chroma/chroma.sqlite3

# Chroma DB
app/data/chroma/chroma.sqlite3
server/app/data/chroma/